.panel-heading{
    background-color: #4088c7;
    color: white;
}

.even{
	background: #f0f8ff;
}
.odd{
	background: #faebd7;
}

.mb-20{
	margin-bottom: 20px; 
}

.float-right{
	float: right;
}

.add-new{
	color: #3c763d;
	font-size: 38px !important;
}
.btn-group{
    margin: 0px 10px;
}